.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f7f7f7;
  font-family: sans-serif;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.info {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  background-color: #fefefe;
}
.valorCaixa {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  background-color: #fefefe;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.valor {
  font-weight: bold;
  font-size: 20px;
  color: #2d2d2d;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #90ee90; /* verde claro */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #7ed97e;
}
